body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: auto;
}
.dashboard {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.income {
  color: green;
  font-weight: bold;
}

.expense {
  color: red;
  font-weight: bold;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

li.income {
  border-left: 5px solid green;
}

li.expense {
  border-left: 5px solid red;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login p {
  margin-top: 10px;
}